<div id="<%= dom_id order %>">
  <p>
    <strong>Completed:</strong>
    <%= order.completed %>
  </p>

  <p>
    <strong>Promotion code:</strong>
    <%= order.promotion_code %>
  </p>

  <p>
    <strong>Discount code:</strong>
    <%= order.discount_code %>
  </p>

  <p>
    <strong>Items:</strong>
    <%= order.items_id %>
  </p>

</div>
